article {
  border: 1px solid grey;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  padding:20px;
}
canvas {
  margin: 10px;
  background-color: black;
}

h1 {
  text-align: center;
}

input{
  width: 30px;
}

input[type="submit"]{
  width: auto;
}

button{
  display:block;
  text-align: center;
  align-self: center;
}

.webglMenu{
  display:flex;
  justify-content: center;
}

.webglMenu > button{
  margin:3px;
}

.webgl{
  display:flex;
  flex-flow: column wrap;
  justify-content:end;
}

/* .steps button{
  display: inline-block;
} */


#points{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:stretch;
}

#points > * {
  margin-right: 50px;
}
